@import "../../assets/variables/color.constants";
@import "../../assets/variables/size.constants";

.education {
  padding: 30px;
  &__header {
    font-size: $headers-size;
    font-weight: bold;
    color: $accent-color;
    padding-bottom: 40px;
  }
  &__data {
    position: relative;
  }
  .data {
    &__line {
      position: absolute;
      left: 40px;
      z-index: -20;
      width: 3px;
      height: 100%;
      border: none;
      background-color: $accent-color;
    }
    &__container {
      display: flex;
      padding: 15px;
    }
    &__date {
      box-sizing: border-box;
      height: 70px;
      padding: 20px 20px 0 0;
      background-color: white;
      border-radius: 100px;
      font-size: $default-size;
      font-weight: bold;
    }
    &__text {
      padding: 25px 30px;
      background-color: #f0f0f0;
      line-height: 1.3;
    }
  }
}
