<section class="education">
    <a name="education"></a>
    <header class="education__header">Education</header>

    <div class="education__data data" id="educationData">
        <hr class="data__line">
    </div>
</section>