<section class="portfolio">
    <a name="portfolio"></a>
    <header class="portfolio__header">Portfolio</header>
    <div class="portfolio__navigation navigation" id="navigation">
        <button class="navigation__button button active" data-filter="*">All</button>
        <button class="navigation__button button" data-filter=".code">Code</button>
        <button class="navigation__button button" data-filter=".ui">UI</button>
    </div>
    <div class="portfolio__items portfolio-items">
        <div class="portfolio-items__image-container image-container ui" data-category="ui">
            <img src="src/assets/images/ui.jpg" alt="ui">
        </div>
        <div class="portfolio-items__image-container image-container code" data-category="code">
            <img src="src/assets/images/code.jpg" alt="code">
        </div>
        <div class="portfolio-items__image-container image-container code" data-category="code">
            <img src="src/assets/images/code.jpg" alt="code">
        </div>
        <div class="portfolio-items__image-container image-container ui" data-category="ui">
            <img src="src/assets/images/ui.jpg" alt="ui">
        </div>

        <div class="portfolio-items__image-container image-container ui" data-category="ui">
            <img src="src/assets/images/ui.jpg" alt="ui">
        </div>
        <div class="portfolio-items__image-container image-container code" data-category="code">
            <img src="src/assets/images/code.jpg" alt="code">
        </div>

    </div>
</section>