@import "../../assets/variables/color.constants";
@import "../../assets/variables/size.constants";

.portfolio{
  padding: 30px;
  &__header{
    font-size: $headers-size;
    font-weight: bold;
    color: $accent-color;
    padding-bottom: 40px;
  }
  &__navigation{
    padding-bottom: 10px;
  }
  .navigation{
    &__button{
      display: inline-block;
      font-size: $default-size;
      background: transparent;
      border: none;
      outline: none;
      &:active{
        color: $accent-color;
      }
      &:hover{
        color: $accent-color;
        cursor: pointer;
      }
      &:after{
        color: black;
        content: "/\00a0";
        font-weight: normal;
        padding: 4px;
      }
      &:last-child{
        &:after{
          content: "";
        }
      }
    }
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio-items{
    &__image-container{
      width: 500px;
      height: 280px;
      margin: 10px;
    }
  }
}
img{
  width: 100%;
  height: 100%;
}
.active {
  color: $accent-color;
}