<section class="skills">
    <a name="skills"></a>
    <header class="skills__header">Skills</header>
    <div id="skillsForm" class="skills__form form">
            <div class="form__addSkill addSkill">
                <label class="addSkill__label" for="skillName">Skill name:</label>
                <input id="skillName" class="addSkill__input" type="text" placeholder="Enter skill name" name="skillName" maxlength="100">
            </div>
            <div class="form__addSkill addSkill">
                <label class="addSkill__label" for="skillRange">Skill range:</label>
                <input id="skillRange" class="addSkill__input" type="number" placeholder="Enter skill range" name="skillRange" min="0" max="100">
            </div>
            <button id="submitButton" class="form__submit" type="submit">Add skill</button>
    </div>
    <div class="skills__bar" id="newSkill">
    </div>
    <div class="skills__transition-line">
        <div class="skills__transition-line--beginner"></div>
        <div class="skills__transition-line--proficient"></div>
        <div class="skills__transition-line--expert"></div>
    </div>
    <div class="skills__transition-name">
        <p class="skills__transition-name--beginner">Beginner</p>
        <p class="skills__transition-name--proficient">Proficient</p>
        <p class="skills__transition-name--expert">Expert</p>
        <p class="skills__transition-name--master">Master</p>
    </div>
</section>