@import "../../assets/variables/color.constants";
@import "../../assets/variables/size.constants";

.skills {
  padding: 30px;

  &__header {
    color: $accent-color;
    font-size: $headers-size;
    padding-bottom: 40px;
    font-weight: bolder;
  }
  &__form {
    border: 1px solid $accent-color;
    padding: 20px;
  }
  .form {
    &__addSkill {
      position: relative;
      padding-bottom: 20px;
      line-height: 2.2;
    }
    .addSkill {
      &__label {
        display: inline-block;
        margin-top: 5px;
      }
      &__input {
        position: absolute;
        right: 0;
        width: 80%;
        padding: 10px 5px;
        border: 1px solid lightgrey;
        border-radius: 3px;
      }
    }
    &__submit {
      background-color: $primary-color;
      border-color: $primary-color;
      border-radius: 5px;
      color: white;
      padding: 7px 12px;
    }
  }
  &__bar {
    padding: 20px 0;
  }
  &__transition-line {
    border: 1px solid lightgrey;
    border-top: none;
    line-height: 0;
    &--beginner {
      display: inline-block;
      width: 25%;
      height: 10px;
      border-right: 1px solid lightgrey;
    }
    &--proficient {
      display: inline-block;
      width: 49%;
      height: 10px;
      border-right: 1px solid lightgrey;
    }
  }
  &__transition-name {
    position: relative;
    padding-top: 10px;
    color: #9a9a9a;
    display: flex;
    justify-content: space-between;
    &--proficient {
      position: absolute;
      left: 22%;
    }
    &--expert {
      position: absolute;
      left: 72%;
    }
  }
  &__transition-name p {
    color: #9A9A9A;
  }
}
.userRange {
  margin: 10px 0;
  padding: 10px;
  background-color: $accent-color;
}