<section class="navigation">
    <span onclick="" class="navigation__open-button" id="openButton">&#9776; Menu</span>
    <div class="navigation__menu menu" id="menu">
        <button class="menu__close-button" id="closeButton">&times;</button>
        <ul class="menu__list" id="menuList">
            <li><a href="#portfolio"  class="menu__list--item active">Portfolio</a></li>
            <li><a href="#skills" class="menu__list--item">Skills</a></li>
            <li><a href="#education" class="menu__list--item">Education</a></li>
        </ul>
    </div>
</section>