@import "../../assets/variables/color.constants";
@import "../../assets/variables/size.constants";

.navigation {
  padding: 30px;
  &__open-button {
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
    padding: 10px 0;
    font-size: $default-size;
    cursor: pointer;
    background-color: white;
    &:hover {
      color: $accent-color;
    }
  }
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    overflow-x: hidden;
    width: 0;
    height: 100%;
    padding-top: 60px;
    background-color: $default-color;
    transition: 0.5s;
  }
  .menu {
    &__close-button {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 10px;
      cursor: pointer;
      border: none;
      outline: none;
      font-size: 46px;
      background-color: transparent;
      color: $light-text-color;
      &:hover {
        color: $accent-color;
      }
    }
    &__list {
      &--item {
        display: block;
        margin: 20px 30px;
        font-size: $default-size;
        cursor: pointer;
        text-decoration: none;
        color: $light-text-color;
        &:hover {
          color: $accent-color;
        }
      }
      .active {
        color: $accent-color;
      }
    }
  }
}
