@import "../assets/variables/color.constants";
@import "../assets/variables/size.constants";

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $primary-color;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
  max-width: 1100px;
  padding-bottom: 60px;
}


