#goTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 100;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #000;
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 7px;
}
.fas {
  color: white;
}